@use 'colors.scss';
@use 'typography.scss';
@import url(lato.css);

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;

  display: flex;
  align-items: stretch;
  min-height: 100vh;

  font-family:
    'Lato',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.25;

  background-color: var(--c-bg);
  color: var(--c-fg);
}
