@charset "UTF-8";

:root {
  color-scheme: only light;

  --hue-base: 150;
  --hue-warning: 50;
  --hue-danger: 0;

  --hue: var(--hue-base);

  --c-b0: hsl(var(--hue) 10% 85%);
  --c-b1: hsl(var(--hue) 10% 95%);
  --c-b2: hsl(var(--hue) 10% 90%);
  --c-b3: hsl(var(--hue) 10% 85%);
  --c-b4: hsl(var(--hue) 10% 80%);

  --c-a1: hsl(var(--hue) 30% 90%);
  --c-a2: hsl(var(--hue) 30% 80%);
  --c-a3: hsl(var(--hue) 35% 70%);
  --c-a4: hsl(var(--hue) 40% 60%);

  --c-h0: hsl(var(--hue) 10% 10% / 0.05);
  --c-h1: hsl(var(--hue) 30% 90% / 0.5);
  --c-h2: hsl(var(--hue) 20% 93%);
  --c-h3: hsl(var(--hue) 20% 88%);
  --c-h4: hsl(var(--hue) 20% 83%);

  --c-f0: hsl(var(--hue) 10% 20%);
  --c-f1: hsl(var(--hue) 10% 30%);
  --c-f2: hsl(var(--hue) 20% 40%);
  --c-f3: hsl(var(--hue) 20% 50%);

  --c-text: hsl(var(--hue) 10% 20%);
  --c-link: hsl(var(--hue) 40% 40%);
}

* {
  box-sizing: border-box !important;
}

body {
  margin: auto;
  padding: 1em;

  display: flex;
  align-items: stretch;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.2;

  background-color: var(--c-b0);
  color: var(--c-text);
}

button {
  /* override UA button styles */
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 1lh;
}
